<?xml version="1.0"?>
<launch>

  <!-- 
    Inicia somente o nodo da equipe 
    Similar a executar 'rosrun roboweek roboweek_node'
    Permite executar o nodo em outro namespace (necessario para multiplos robos)
  -->
  <arg name="name" default="" />
  <arg name="ns" default="/$(arg name)" />

  <group ns="$(arg ns)">
    <node pkg="roboweek" type="roboweek_node" name="roboweek_node" output="screen" />
  </group>

</launch>
